# Build
build/
sdkconfig
sdkconfig.old
managed_components/

# PlatformIO
.pio/

# ESPHome
.esphome/

# ESP-IDF
dependencies.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/

# Secrets
secrets.yaml
test.yaml
*.pem
*.key
